/* ========================================================================
 * New css
 * ======================================================================== */
/*New changes*/
/*Global style for all tables-holders*/
table td {
  empty-cells: hide;
}
table .empty-cell {
  border: none !important;
}
table .form-control {
  border: 1px solid transparent;
  background: #fbfbfb;
}
table.table-striped .form-control {
  border: 1px solid #DDD;
  background: #fbfbfb;
  margin-bottom: 3px;
}
.table-no-cell-padding tbody td {
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.table-no-cell-padding tr td:first-of-type {
  padding: 8px!important;
}
.table-holder {
  overflow-x: auto;
}
.table-secondary thead tr th,
.table-secondary tfoot tr th {
  background-color: #A90329 !important;
  border-color: #c2032f #c2032f #860220 !important;
  color: #fff;
}
.table-secondary tfoot tr th {
  border-color: #860220 #c2032f #c2032f !important;
}
.table-icon .fa {
  float: right;
  margin-top: 3px;
}
.pagination-wrapper {
  overflow: hidden;
  padding: 10px 0;
  margin-top: 69px;
  border-top: 1px solid #ddd;
}
.pagination-wrapper .pagination {
  float: right;
  margin: 0;
}
.pagination-wrapper.-mt-65 {
  margin-top: 65px;
}
.pagination > li > a {
  color: #A90329;
}
a,
a:active {
  color: #00acdc;
}
a:hover,
a:focus {
  color: #05a0cb;
}
textarea {
  resize: vertical;
}
.border-bottom-no {
  border-bottom: 0;
}
.btn-theme {
  background-color: #A90329;
  border-color: #A90329;
  color: white;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.btn-theme[disabled],
.btn-theme.disabled {
  background-color: #05a0cb;
}
input:focus,
textarea:focus,
select:focus {
  border: 1px solid #A90329 !important;
}
body.page-sidebar-minimize #header .navbar-minimize > a {
  background: #A90329;
}
body.page-sidebar-minimize #header .navbar-minimize:hover > a {
  background-color: #A90329;
}
body.page-sidebar-minimize .navbar-minimize {
  border-right: 1px solid #A90329 !important;
}
body.page-sidebar-minimize .navbar-minimize a {
  background-color: #A90329;
  border-bottom: 1px solid #A90329;
}
body.page-sidebar-minimize .navbar-minimize a:hover {
  background-color: #A90329;
  border-bottom: 1px solid #A90329;
}
body.page-sidebar-minimize-auto .navbar-minimize {
  border-right: 1px solid #00acdc !important;
}
body.page-sidebar-minimize-auto .navbar-minimize a {
  background-color: #00acdc;
  border-bottom: 1px solid #00acdc;
}
body.page-sidebar-minimize-auto .navbar-minimize a:hover {
  background-color: #05a0cb;
  border-bottom: 1px solid #05a0cb;
}
.header-left .navbar-header .navbar-brand {
  background: #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #A90329;
  color: #fff;
}
#back-top:hover {
  background: #05a0cb;
  box-shadow: 0 0 0 6px #05a0cb;
}
.media > .pull-left.has-notif i.online {
  background-color: #00acdc;
}
.media > .pull-left.has-notif i {
  border: 2px solid #0480a2;
}
#header .navbar-header {
  background-color: #00acdc;
}
#sidebar-left .sidebar-menu ul li:hover:after {
  background-color: #00acdc;
}
#sidebar-left .sidebar-menu ul li:hover a:before {
  color: #00acdc;
}
#sidebar-left .sidebar-menu ul li.active:after {
  background-color: #00acdc;
}
#sidebar-left.sidebar-box .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-box .sidebar-menu > li.active > a > .icon i {
  background-color: #00acdc;
}
#sidebar-left.sidebar-box .sidebar-menu > li > ul > li:hover:after {
  box-shadow: 0 0 0 5px #0480a2;
}
#sidebar-left.sidebar-rounded .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-rounded .sidebar-menu > li.active > a > .icon i {
  background-color: #00acdc;
}
#sidebar-left.sidebar-rounded .sidebar-menu > li > ul > li:hover:after {
  box-shadow: 0 0 0 5px #0480a2;
}
#sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #A90329;
  color: #fff;
}
#sidebar-left.sidebar-circle .sidebar-menu > li > ul > li:hover:after {
  box-shadow: 0 0 0 5px #0480a2;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover > a .icon i,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover > a .icon i {
  background-color: #A90329;
  color: #fff;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover.submenu > ul,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover.submenu > ul {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover.submenu > ul > li > ul,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover.submenu > ul > li > ul {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li.sidebar-category,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li.sidebar-category {
  background-color: #ddd;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li.active:hover {
  background: #ddd;
  color: #000;
}
#sidebar-left {
  background-color: #fff;
}
#sidebar-left:after {
  background-color: #fff;
}
.sidebar-content {
  border-bottom: 2px solid #ddd;
}
.sidebar-menu > li.active {
  background-color: #fff;
}
.sidebar-menu > li.active a:hover span {
  color: #000;
}
.sidebar-menu > li.active > a span {
  color: #000;
}
.sidebar-menu > li > a:hover span {
  color: #000;
}
.sidebar-menu > li > a:hover .text,
.sidebar-menu > li > a:hover .icon > i {
  color: #000;
}
.sidebar-circle .sidebar-menu > li > a:hover .icon > i {
  background-color: #A90329;
  color: #fff;
}
.sidebar-menu > li > ul > li {
  border-bottom: 1px solid #ddd;
}
.sidebar-menu > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li.active {
  background-color: #ddd;
}
.sidebar-menu ul {
  background-color: #EEEEEF;
}
.sidebar-menu ul li:after {
  background-color: #ddd;
}
.sidebar-menu ul li a:before {
  color: #ddd;
}
.sidebar-menu ul li.active a {
  color: #000;
}
.sidebar-category {
  background-color: #ddd;
}
.sidebar-box .sidebar-menu > li > a > .icon:after,
.sidebar-rounded .sidebar-menu > li > a > .icon:after,
.sidebar-circle .sidebar-menu > li > a > .icon:after {
  border: 1px solid #ddd;
}
.sidebar-box .sidebar-menu > li > a > .icon i,
.sidebar-rounded .sidebar-menu > li > a > .icon i,
.sidebar-circle .sidebar-menu > li > a > .icon i {
  border: 2px solid #ddd;
  background-color: #fff;
}
.sidebar-box .sidebar-menu > li > ul:after,
.sidebar-rounded .sidebar-menu > li > ul:after,
.sidebar-circle .sidebar-menu > li > ul:after {
  border-left: 2px solid #ddd;
}
.sidebar-box .sidebar-menu > li > ul > li:after,
.sidebar-rounded .sidebar-menu > li > ul > li:after,
.sidebar-circle .sidebar-menu > li > ul > li:after {
  box-shadow: 0 0 0 2px #777;
}
.rdio-theme input[type=radio]:checked + label::after {
  border-color: #00acdc;
  background-color: #00acdc;
}
.ckbox-theme input[type=checkbox]:checked + label::after {
  border-color: #00acdc;
  background-color: #00acdc;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal {
  background: #00acdc !important;
  border: 1px solid #00acdc !important;
  color: white !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label {
  border: 1px solid #00acdc !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off {
  border: 1px solid #00acdc !important;
  border-left: none !important;
}
.panel-tab .panel-heading ul li.active a i {
  color: #A90329;
}
.panel-tab .panel-heading ul li a:hover i {
  color: #A90329;
}
.panel-heading {
  margin-bottom: 10px;
  box-shadow: 0px 10px 5px 0px #dddddd;
}
.panel-title {
  line-height: 1.3;
}
.table-cell-md-6 td {
  width: 50%;
}
.first-col-dark tr td:first-of-type {
  background: #EEEEEE;
  padding: 8px!important;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.no-padding-left {
  padding-left: 0!important;
}
.no-shadow {
  box-shadow: none!important;
}
.pl-20 {
  padding-left: 20px!important;
}
.table-separator {
  border-bottom: 5px solid #dddddd;
}
.number-input {
  min-width: 55px;
}
/*TABS*/
.nav-tabs > li.active > a {
  color: #05a0cb;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #05a0cb;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a {
  color: #636E7B;
}
.tab-content {
  padding: 0px;
}
/*Sex switcher*/
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal {
  background: silver!important;
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label {
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off {
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-label {
  line-height: 15px !important;
  font-size: 15px !important;
}
/*FORMS*/
.form-padding .form-body {
  padding: 0px;
}
.form-padding .form-group {
  padding: 15px 0px;
  margin-bottom: 0px;
}
.form-padding .form-padding .form-group .chosen-container:last-child {
  margin-bottom: 0px !important;
}
.ckbox-primary input[type=checkbox]:checked + label::after {
  background-color: #A90329;
}
.ckbox-input-wrp {
  display: inline-block;
  width: 60%;
  vertical-align: bottom;
  margin-left: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.btn-custom {
  border-color: #A90329;
}
.btn-custom:hover,
.btn-custom:focus {
  background-color: #ddd;
}
.btn-primary {
  background-color: #A90329;
  border-color: #A90329;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #db0435;
  border-color: #db0435;
}
.btn-with-icon {
  margin-right: 15px;
}
.btn-with-icon .fa {
  margin-right: 10px;
}
.add-something {
  font-size: 36px;
}
.navbar-toolbar .navbar-right .dropdown .add-something {
  padding: 0;
  margin: 10px 20px 0 0;
}
.border-top {
  padding-top: 10px;
  margin-top: 43px;
  border-top: 1px solid #ddd;
}
.panel-heading {
  box-shadow: none;
}
.panel .panel-body {
  padding: 10px 4px 10px 17px;
}
.panel-tab .panel-body .tab-content .tab-pane > h4 {
  margin-bottom: 18px;
}
.form-bordered label {
  font-size: 14px;
}
.table-striped {
  padding: 14px 0 15px;
}
.table-striped h4 {
  font-size: 14px;
  margin: 0 0 20px 14px;
}
.text-center .ckbox {
  margin-right: 0;
}
.table.-indent > tbody > tr > td,
.table.-indent > tbody > tr > th,
.table.-indent > tfoot > tr > td,
.table.-indent > tfoot > tr > th,
.table.-indent > thead > tr > td,
.table.-indent > thead > tr > th {
  padding: 8px 8px 8px 17px;
  vertical-align: middle;
}
.form-horizontal .control-label {
  text-align: center;
  font-size: 14px;
}
.form-horizontal.-indent .form-group {
  margin-bottom: 27px;
}
.form-horizontal.-indent .form-group.mb-21 {
  margin-bottom: 21px;
}
.form-horizontal.-custom {
  padding-top: 5px;
  padding-left: 10px;
}
.form-horizontal.-custom .control-label {
  text-align: left;
  padding-left: 20px;
}
.form-horizontal.-custom .ckbox,
.form-horizontal.-custom .rdio {
  margin-top: 11px;
  font-size: 14px;
}
.form-horizontal.-custom .ckbox:first-child {
  margin-top: 8px;
}
.label-heading {
  padding-left: 8px;
  font-size: 16px;
  margin-bottom: 15px;
}
.m-0 {
  margin: 0;
}
.-mb-29 {
  margin-bottom: 29px;
}
form .form-group .control-label {
  margin: 0;
}
textarea.form-control {
  height: 86px;
}

/*# sourceMappingURL=custom.css.map */