/* ========================================================================
 * New css
 * ======================================================================== */
/*New changes*/
/*Global style for all tables-holders*/
table td {
  empty-cells: hide;
}
table .empty-cell {
  border: none !important;
}
table .form-control {
  border: 1px solid transparent;
  background: #fbfbfb;
}
table.table-striped .form-control {
  border: 1px solid #DDD;
  background: #fbfbfb;
  margin-bottom: 3px;
}
.table-no-cell-padding tbody td {
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.table-no-cell-padding tr td:first-of-type {
  padding: 8px!important;
}
.table-holder {
  overflow-x: auto;
}
a,
a:active {
  color: #00acdc;
}
a:hover,
a:focus {
  color: #05a0cb;
}
textarea {
  resize: vertical;
}
.border-bottom-no {
  border-bottom: 0;
}
.btn-theme {
  background-color: #a90329;
  border-color: #a90329;
  color: white;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.btn-theme[disabled],
.btn-theme.disabled {
  background-color: #05a0cb;
}
input:focus,
textarea:focus {
  border: 1px solid #00acdc !important;
}
body.page-sidebar-minimize #header .navbar-minimize > a {
  background: #a90329;
}
body.page-sidebar-minimize #header .navbar-minimize:hover > a {
  background-color: #a90329;
}
body.page-sidebar-minimize .navbar-minimize {
  border-right: 1px solid #a90329 !important;
}
body.page-sidebar-minimize .navbar-minimize a {
  background-color: #a90329;
  border-bottom: 1px solid #a90329;
}
body.page-sidebar-minimize .navbar-minimize a:hover {
  background-color: #a90329;
  border-bottom: 1px solid #a90329;
}
body.page-sidebar-minimize-auto .navbar-minimize {
  border-right: 1px solid #00acdc !important;
}
body.page-sidebar-minimize-auto .navbar-minimize a {
  background-color: #00acdc;
  border-bottom: 1px solid #00acdc;
}
body.page-sidebar-minimize-auto .navbar-minimize a:hover {
  background-color: #05a0cb;
  border-bottom: 1px solid #05a0cb;
}
.header-left .navbar-header .navbar-brand {
  background: #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #a90329;
  color: #fff;
}
#back-top:hover {
  background: #05a0cb;
  box-shadow: 0 0 0 6px #05a0cb;
}
.media > .pull-left.has-notif i.online {
  background-color: #00acdc;
}
.media > .pull-left.has-notif i {
  border: 2px solid #0480a2;
}
#header .navbar-header {
  background-color: #00acdc;
}
#sidebar-left .sidebar-menu ul li:hover:after {
  background-color: #00acdc;
}
#sidebar-left .sidebar-menu ul li:hover a:before {
  color: #00acdc;
}
#sidebar-left .sidebar-menu ul li.active:after {
  background-color: #00acdc;
}
#sidebar-left.sidebar-box .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-box .sidebar-menu > li.active > a > .icon i {
  background-color: #00acdc;
}
#sidebar-left.sidebar-box .sidebar-menu > li > ul > li:hover:after {
  -webkit-box-shadow: 0 0 0 5px #0480a2;
  -moz-box-shadow: 0 0 0 5px #0480a2;
  box-shadow: 0 0 0 5px #0480a2;
}
#sidebar-left.sidebar-rounded .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-rounded .sidebar-menu > li.active > a > .icon i {
  background-color: #00acdc;
}
#sidebar-left.sidebar-rounded .sidebar-menu > li > ul > li:hover:after {
  -webkit-box-shadow: 0 0 0 5px #0480a2;
  -moz-box-shadow: 0 0 0 5px #0480a2;
  box-shadow: 0 0 0 5px #0480a2;
}
#sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #00acdc;
}
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #a90329;
  color: #fff;
}
#sidebar-left.sidebar-circle .sidebar-menu > li > ul > li:hover:after {
  -webkit-box-shadow: 0 0 0 5px #0480a2;
  -moz-box-shadow: 0 0 0 5px #0480a2;
  box-shadow: 0 0 0 5px #0480a2;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover > a .icon i,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover > a .icon i {
  background-color: #A90329;
  color: #fff;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover.submenu > ul,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover.submenu > ul {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover.submenu > ul > li > ul,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover.submenu > ul > li > ul {
  background-color: #EEEEEF;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li.sidebar-category,
body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li.sidebar-category {
  background-color: #ddd;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li.active:hover {
  background: #ddd;
  color: #000;
}
#sidebar-left {
  background-color: #fff;
}
#sidebar-left:after {
  background-color: #fff;
}
.sidebar-content {
  border-bottom: 2px solid #ddd;
}
.sidebar-menu > li.active {
  background-color: #fff;
}
.sidebar-menu > li.active a:hover span {
  color: #000;
}
.sidebar-menu > li.active > a span {
  color: #000;
}
.sidebar-menu > li > a:hover span {
  color: #000;
}
.sidebar-menu > li > a:hover .text,
.sidebar-menu > li > a:hover .icon > i {
  color: #000;
}
.sidebar-circle .sidebar-menu > li > a:hover .icon > i {
  background-color: #A90329;
  color: #fff;
}
.sidebar-menu > li > ul > li {
  border-bottom: 1px solid #ddd;
}
.sidebar-menu > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > ul {
  background-color: #EEEEEF;
}
.sidebar-menu > li > ul > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar-menu > li > ul > li.active {
  background-color: #ddd;
}
.sidebar-menu ul {
  background-color: #EEEEEF;
}
.sidebar-menu ul li:after {
  background-color: #ddd;
}
.sidebar-menu ul li a:before {
  color: #ddd;
}
.sidebar-menu ul li.active a {
  color: #000;
}
.sidebar-category {
  background-color: #ddd;
}
.sidebar-box .sidebar-menu > li > a > .icon:after,
.sidebar-rounded .sidebar-menu > li > a > .icon:after,
.sidebar-circle .sidebar-menu > li > a > .icon:after {
  border: 1px solid #ddd;
}
.sidebar-box .sidebar-menu > li > a > .icon i,
.sidebar-rounded .sidebar-menu > li > a > .icon i,
.sidebar-circle .sidebar-menu > li > a > .icon i {
  border: 2px solid #ddd;
  background-color: #fff;
}
.sidebar-box .sidebar-menu > li > ul:after,
.sidebar-rounded .sidebar-menu > li > ul:after,
.sidebar-circle .sidebar-menu > li > ul:after {
  border-left: 2px solid #ddd;
}
.sidebar-box .sidebar-menu > li > ul > li:after,
.sidebar-rounded .sidebar-menu > li > ul > li:after,
.sidebar-circle .sidebar-menu > li > ul > li:after {
  -moz-box-shadow: 0 0 0 2px #777;
  -webkit-box-shadow: 0 0 0 2px #777;
  box-shadow: 0 0 0 2px #777;
}
.rdio-theme input[type=radio]:checked + label::after {
  border-color: #00acdc;
  background-color: #00acdc;
}
.ckbox-theme input[type=checkbox]:checked + label::after {
  border-color: #00acdc;
  background-color: #00acdc;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal {
  background: #00acdc !important;
  border: 1px solid #00acdc !important;
  color: white !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label {
  border: 1px solid #00acdc !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off {
  border: 1px solid #00acdc !important;
  border-left: none !important;
}
.panel-tab .panel-heading ul li.active a i {
  color: #A90329;
}
.panel-tab .panel-heading ul li a:hover i {
  color: #A90329;
}
.panel-heading {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 10px 5px 0px #dddddd;
  -moz-box-shadow: 0px 10px 5px 0px #dddddd;
  box-shadow: 0px 10px 5px 0px #dddddd;
}
.panel-title {
  line-height: 1.3;
}
.table-cell-md-6 td {
  width: 50%;
}
.first-col-dark tr td:first-of-type {
  background: #EEEEEE;
  padding: 8px!important;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.no-padding-left {
  padding-left: 0!important;
}
.no-shadow {
  box-shadow: none!important;
}
.pl-20 {
  padding-left: 20px!important;
}
.table-separator {
  border-bottom: 5px solid #dddddd;
}
.number-input {
  min-width: 55px;
}
/*TABS*/
.nav-tabs > li.active > a {
  color: #05a0cb;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #05a0cb;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a {
  color: #636E7B;
}
.tab-content {
  padding: 0px;
}
/*Sex switcher*/
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal {
  background: silver!important;
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label {
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-teal + .bootstrap-switch-label + .bootstrap-switch-handle-off {
  border: 1px solid silver !important;
}
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-on,
.sex-switcher .bootstrap-switch .bootstrap-switch-handle-off,
.sex-switcher .bootstrap-switch .bootstrap-switch-label {
  line-height: 15px !important;
  font-size: 15px !important;
}
/*FORMS*/
.form-padding .form-body {
  padding: 0px;
}
.form-padding .form-group {
  padding: 15px 0px;
  margin-bottom: 0px;
}
.form-padding .form-padding .form-group .chosen-container:last-child {
  margin-bottom: 0px !important;
}
